@model TailSpin.SpaceGame.Web.Models.LeaderboardViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section class="login">
    <div class="image-cap"></div>
    <div class="container">
        <button type="button" id="loginBtn" class="btn btn-primary">
            Iniciar Sesion
        </button>
    </div>
</section>

<div id="logInfoContainer" class="container">
    <p style="font-weight:400">User:</p>
    <p id="userNameLabel" style="color:blue"></p>
</div>

<div class="container">
    <img class="title" src="/images/1649787042040.jfif" style="width:100%; height:300px">
</div>


<section class="download">
    <div class="image-cap"></div>
    <div class="container">
        <a href="" id="download-btn" class="btn btn-default btn-lg" data-toggle="modal" data-target="#pretend-modal">Descargar Catalogo de Salud</a>
    </div>
</section>

<!-- Screenshots -->
<section class="screens">
    <div class="container">
        <ul>
            <li><a href="" id="screen-01" data-toggle="modal" data-target=".pic-01"><img src="/images/space-game-placeholder.svg" alt=""></a></li>
            <li><a href="" id="screen-02" data-toggle="modal" data-target=".pic-01"><img src="/images/space-game-placeholder.svg" alt=""></a></li>
            <li><a href="" id="screen-03" data-toggle="modal" data-target=".pic-01"><img src="/images/space-game-placeholder.svg" alt=""></a></li>
            <li><a href="" id="screen-04" data-toggle="modal" data-target=".pic-01"><img src="/images/space-game-placeholder.svg" alt=""></a></li>
        </ul>
    </div>
</section>

<!-- Leaderboard -->
<section class="leaderboard">
    <div class="container">
        <a name="leaderboard"></a>


        @*AUTO COMPLETE EXPERIMENT*@

        <div id="project-label">Select a project (type "s" for a start):</div>
        <input id="project">
        <input type="hidden" id="project-id">
        <p id="project-description"></p>
        @*END AUTO COMPLETE EXPERIMENT*@


        <br />        
        <br />        
        <br />        
        <br />
        <br />

        <div id="tableDiv"></div>

@*        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>

                </tr>
            </tbody>
        </table>*@

        <h2>Proveedores Medicos</h2>
        <!-- Start Leaderboard table -->
        <div class="row">
            <div class="col-sm-9 leader-scores">
                <div class="row high-score hidden-xs">

                    <div class="col-sm-4">
                        Paciente
                    </div>

                    <div class="col-sm-4">
                        Monto Cobertura Disponible
                    </div>

                    <div class="col-sm-4">
                        Opcion
                    </div>
                </div>

                @{
                    if (Model.Scores.Count() == 0)
                    {
                        <div class="row" style="margin-left: 5px; margin-top: 20px;">No scores match your selection.</div>
                    }

                    int rank = ((Model.Page - 1) * Model.PageSize) + 1;
                    foreach (var score in Model.Scores)
                    {
                        <div class="row high-score align-items-center">
                            <div class="col-sm-1 score-data" style="visibility:hidden">
                                @(rank++).
                            </div>
                            <div class="col-sm-4 score-data">
                                <div style="text-align: left; margin-left: 100px;">
                                    <partial name="Profile" model="new ProfileViewModel { Profile = score.Profile, Rank = (rank - 1).ToString() }" />
                                    <a href="" data-toggle="modal" data-target="#profile-modal-@((rank - 1).ToString())">
                                        <img class="avatar" src="@score.Profile.AvatarUrl" alt="@score.Profile.UserName">
                                        <div class="score-data username" id="profile-@((rank - 1).ToString())">
                                            @score.Profile.UserName
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-4 score-data">
                                <p id="montoId-@score.Profile.Id">@score.Profile.MontoDisponible</p>
                            </div>

                            <div class="col-sm-4 score-data">
                                <div style="text-align: left; margin-left: 100px;">
                                    <partial name="Profile" model="new ProfileViewModel { Profile = score.Profile, Rank = (rank - 1).ToString() }" />
                                    <a href="" data-toggle="modal" data-target="#profile-modal-@((rank - 1).ToString())">
                                        <p class="score-data username">
                                            Descuento
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
                <nav aria-label="...">
                    <ul class="pagination">
                        @if (string.IsNullOrEmpty(Model.PrevLink))
                        {
                            <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
                        }
                        else
                        {
                            <li class=""><a href="@Model.PrevLink" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        }
                        @{
                            var totalPages = Model.TotalResults / Model.PageSize;
                            if (Model.TotalResults % Model.PageSize != 0)
                            {
                                totalPages++;
                            }

                            for (int i = 1; i <= totalPages; i++)
                            {
                                <li class="@(i == Model.Page ? "active" : null)">
                                    <a href="@($"/?page={i}&pageSize={@Model.PageSize}&mode={@Model.SelectedMode}&region={@Model.SelectedRegion}")#leaderboard">
                                        @i
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            }
                        }
                        @if (string.IsNullOrEmpty(Model.NextLink))
                        {
                            <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
                        }
                        else
                        {
                            <li class=""><a href="@Model.NextLink" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Leaderboard -->

</section>


<!-- Log In modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-border">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2>Sign in with your MCS Card:</h2>
            </div>
            <div class="modal-body text-center">
                <p>MCS Card ID</p>
                <input type="text" id="userName" placeholder="MCS Card ID:" />
                <br />
                <p id="emailSendPLabel" style="color:red">A email was send to your email account.</p>
            </div>
            <div class="container">
                <button type="button" id="login-btn-accept" data-loading-text="Loading..." class="btn btn-primary">
                    Sign In
                </button>
                <button type="button" id="okButton" data-loading-text="Loading..." class="btn btn-primary">
                    Ok
                </button>
            </div>
            <div class="container">
                <a href="" id="cancel-login-btn" class="btn btn-default btn-lg" data-dismiss="modal" data-target="#login-modal">Cancelar</a>
            </div>
            <div id="dontHaveAccountLabel" class="container">
                <p>Don't have a account?</p>
                <a href="" id="signUpBtn" class="btn btn-default btn-lg" data-dismiss="modal" data-target="#login-modal">Sign up now</a>
            </div>
            <br />
        </div>
    </div>
</div>


@*    <div class="container">
        <a href="" id="loginBtn" class="btn btn-default btn-lg" data-toggle="modal" data-target="#login-modal">Iniciar Sesion</a>
    </div>
*@

<div class="modal fade" id="codeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sign-In</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body text-center">
                    <p>Email Verification Code:</p>
                    <input type="text" id="txtCode" placeholder="code Number:" />
                </div>
                <div class="container">
                    <button type="button" id="continueCodeBtn" data-loading-text="Loading..." class="btn btn-primary">
                        continue
                    </button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Hello</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body text-center">
                    <h1 style="color:green">You are Welcome</h1>
                </div>
                <div class="container">
                    <button type="button" id="welcomeAcceptBtn" data-loading-text="Loading..." class="btn btn-primary">
                        Accept
                    </button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*

<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>*@